@mixin flex-box ($ai , $fd){
    display: flex;
    align-items: $ai;
    flex-direction: $fd;
    background-color: transparent;
}

$colores: (
"negro" : black, 
"blanco" : white,
"gris" : grey,
"blancosmk" : whitesmoke,
"azul" : #2a8ded,
"header-bg" : #212529,
)