@media screen and (max-width: 768px) {

    .socialMedia{
        display: none;
    }
    .footer-principal {
        grid-template-columns: 1fr;
    }

    .blog , .blog2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .blog-text {
        margin-left: 60px;
    }

}

@media screen and (max-width: 425px) {
    .productos-items , .menu {
        flex-direction: column;
        align-items: center;
    }

}